version: "2"

services:
  grafana:
    image: grafana/grafana
    ports:
      - 3000:3000
    environment:
      GF_INSTALL_PLUGINS: frser-sqlite-datasource
    volumes:
      - ../../:/mnt/glitcherbot