<!DOCTYPE html>
<html lang="en">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
</head>
<body>
    {% include 'menu.twig' %}
    <div class="container-fluid">
        <div class="jumbotron">
            <h1 class="display-4">Welcome to ScraperBot!</h1>
            <p class="lead">A tool for detecting unexpected changes to your websites.</p>
            <hr class="my-4">
            <p>Schedule regular crawls of your websites, gathering metrics that can help you to ensure stability.</p>
            <p class="lead">
                <a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a>
            </p>
        </div>
    </div>
</body>
</html>