<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
</head>
<body>
{% include 'menu.twig' %}
<div class="container-fluid">
    <div class="jumbotron">
        <h1 class="display-4">Welcome to GlitcherBot!</h1>
        <p class="lead">A tool for detecting unexpected changes to your websites.</p>
        <hr class="my-4">
        <p>To run your first crawl:</p>
        <ul>
            <li>Using a csv with the list of sites:
                <ol><code>php bin/visual_regression_bot.php bot:crawl-sites all-errors.csv</code></ol>
            </li>
            <li>Using Acquia's json:
                <ol><code>php bin/visual_regression_bot.php acquia:acsf-crawl-sites sites.json</code></ol>
            </li>
        </ul>
        <p class="lead">
            Visit the project for the latest updates on the documentation <a class="btn btn-primary btn-sm" href="https://github.com/alex-moreno/glitcherbot" role="button">GlitcherBot</a>
        </p>
    </div>
</div>
</body>
</html>