<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
</head>
<body>
{% include 'menu.twig' %}
<div class="container-fluid">
    <h1>Plugins</h1>

    <h2>Plugin Types</h2>
    <table class="table table-striped" style="text-align:center">
        <thead class="thead-dark">
        <tr>
            <th style="text-align:center" colspan="1">Type</th>
            <th style="text-align:center" colspan="1">Name</th>
            <th style="text-align:center" colspan="1">Interface</th>
        </tr>
        </thead>
        <tbody>
        {%  for storage,keys in plugin_types %}
            <tr>
                <td style="text-align:center">
                    {{ storage }}
                </td>

                {%  for value in keys %}
                    <td style="text-align:center">
                        {{ value }}
                    </td>
                {% endfor %}
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <h2>Available Plugins</h2>
    <table class="table table-striped" style="text-align:center">
        <thead class="thead-dark">
        <tr>
            <th style="text-align:center" colspan="1">Type</th>
            <th style="text-align:center" colspan="1">ID</th>
            <th style="text-align:center" colspan="1">Name</th>
            <th style="text-align:center" colspan="1">Class</th>
            <th style="text-align:center" colspan="1">Active?</th>
        </tr>
        </thead>
        <tbody>
        {%  for type,meta in plugins %}
            <tr>
                <td style="text-align:center">
                    {{ type }}
                </td>

                {%  for value in meta %}
                    <td style="text-align:center">
                        {{ value }}
                    </td>
                {% endfor %}
            </tr>
        {% endfor %}
        </tbody>
    </table>

</div>

{% include 'footer.twig' %}
</body>
</html>