<!DOCTYPE html>
<html lang="en">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="css/bot.css">


</head>
<body>
    {% include 'menu.twig' %}
    {% include 'tolerance_form.twig' %}

    <div class="container-fluid">
        <h1>Results by date and time of crawl</h1>
        <table class="table table-striped" style="text-align:center">
            <thead class="thead-dark">
                <tr>
                    <th>Site ID</th>
                    {% for header in headers %}
                    <th style="text-align:center" colspan="2">{{ header|date }}</th>
                    {%  endfor %}
                </tr>
                <tr>
                    <th></th>
                    {% for header in headers %}
                        <th>Size</th>
                        <th>Status Code</th>
                    {%  endfor %}
                </tr>
            </thead>

            {%  for key, row in rows %}
            <tr>
                <td style="text-align:center">
                    {{ key }}
                </td>
                {%  for column in row %}
                    <td {% if column.2 %}class="table-danger"{% endif %}>
                        {{ column.0 }}
                    </td>
                    <td {% if column.2 %}class="table-danger"{% endif %}>
                        {{ column.1 }}
                    </td>
                {% endfor %}
            </tr>
            {% endfor %}
        </table>
    </div>

    {% include 'footer.twig' %}
</body>
</html>