
<form>
    <div style="margin-left: 20px;">
        <label for="example"><b>Tolerance (>=0)</b></label>
        <input id="tolerance" type="text" name="tolerance" value="{{ tolerance }}" size="8">
        <input type="submit" value="Send">
    </div>
</form>

<div style="margin-left: 20px"><a href="?latest=true">Get only latest 2 crawls</a> | <a href="?latest=false">Get all crawls</a></div>
